{% include "dashboard/base_generic.html" %}
<html>
    <head>
        <title>Dashboard</title>
    </head>
<body>
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
                <ul class="nav nav-sidebar">
                  <li class="active"><a href="#">Servers List</a></li>
                  <li><a href="#">Connected Devices</a></li>
                  <li><a href="/monitor/">Host Performance</a></li>
                  <li><a href="#">Export to CSV</a></li>
                  {% if user.is_authenticated %}
                  <li><a href="">Manage Servers</a></li>
                  {% endif %}
                </ul>
                <ul class="nav nav-sidebar">
                </ul>
        </div><!--/span-->
        <div class="col-sm-9 col-md-10 main">
          <!--toggle sidebar button-->
          <p class="visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas"><i class="glyphicon glyphicon-chevron-left"></i></button>
          </p>
		      <h1 class="page-header">
            Dashboard
          </h1>
          <div class="row placeholders">
            <ul>
                {% for device in devices %}
                <li>{{ device }}</li>
                {% endfor %}
            </ul>
          </div>
      </div><!--/row-->
	</div>
        </div>
    </div>
</body>
</html>
