{% include "dashboard/base_generic.html" %}
{% if server_list %}
    {% for server in server_list %}
    <div class="col-lg-4 col-sm-6 text-center">
    {% if server.isActive %}
        <div class="portContainer active">
            <a href="/dashboard/{{ server.id }}/">{{ server.port_number }}</a>
        </div>
        <div class="serverButton">
            <a href="{% url 'stop' server.id %}">Stop Server</a>
        </div>
        {% else %}
        <div >
            <div class="portContainer">
                <a href="/dashboard/{{ server.id }}/">{{ server.port_number }}</a>
            </div>
        </div>
        <div class="serverButton">
            <a href="{% url 'status' server.id %}">Start Server</a>
        </div>
        {% endif %}
        <div class="serverName">
            <li><a href="/dashboard/{{ server.id }}/">Server Name: {{ server.server_name }}</a></li>
        </div>
    </div>
    {% endfor %}

{% else %}
    <p>No servers are available.</p>
{% endif %}
    </div>