{% include "dashboard/base_generic.html" %}
{% load staticfiles %}

<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
$.ajaxSetup ({
        cache: false
    });

    setInterval(function(){
        $.getJSON('/ajax/', function(data) {
            $('#ajaxcore').empty();
            for(var i in data) {
                $('#ajaxcore').append("Core " + i + ": ");
                $('#ajaxcore').append(data[i]);
                $('#ajaxcore').append("<br />");
            }
        });
    }, 1000);
</script>

</head>
<body>
    <div id=ajaxcore>Response: </div>
</body>
</html>
